/*----------------------------------------
Name: layout.css
Developed by: JEECMS
Date Created: 2010-05-02
Last Updated: 2011-06-06
Copyright: JEECMS
----------------------------------------*/

@charset "utf-8";
@import url(global.css);

/* top
----------------------------------------*/
#top,.rb_top,.rb_low,.pink_right_top,.pink_right_low,.blue_right_top,.rb_right_top,{background:transparent url(../img/right_titlebg_1.jpg) no-repeat;  height:34px;}
#txtKey{background:transparent url(../img/searchbg.gif) no-repeat; width:580px; height:40px; padding-top:8px;}
.rb_right_low,.blue_right_low{background:url(../img/right_titlebg_3.gif); height:7px;}
.left_top{background:url(../img/lefttitle1_bg1.jpg) no-repeat;}
.left_top1{background:url(../img/lefttitle1_bg9.jpg) no-repeat;}
.left_top2{background:url(../img/lefttitle1_bg2.jpg) no-repeat;}
.left_low{background:url(../img/left_titlebg_2.jpg) no-repeat;}
.left_title{background:url(../img/title1_jctw1.gif) no-repeat; width:700px; height:29px;}
#top{background:url(../img/box_bg.gif) repeat-x; height:31px; line-height:31px;  color:#ccc; }
#top a{padding:0 5px;}
.page{width:980px; margin:0 auto;}
.page2{width:980px; margin:5px auto;}
.page3{width:700px; margin:5px 0 0 0 auto; }
.page4{width:976px; margin:5px auto;}
#header{width:100%;	margin:auto; background:url(../img/.gif) repeat-x;}

#logo{height:74px;}
#logo div.logo{width:220px; height:70px; cursor:pointer;background:transparent url(../img/logo.gif) no-repeat scroll 0 0 ;}
#logo div.banner{margin-top:10px; text-align:center;}

/* nav
----------------------------------------*/
#menu{background:url(../img/dhlbg.jpg) repeat-x;  height:40px; width:980px;}
#topmenu{display:inline; margin:0; height: 40px; float:left; position:relative;}
#topmenu dt{text-align:center;padding:0 10px; float:left; display:inline;margin:0px 0px 0px -2px; line-height: 40px; font-weight:bold;}
#topmenu dt .menu_first{padding-left:15px;}
#topmenu dt a{display:block;float:left;width:82px;color:#fff;height:40px;}
#topmenu dt a.selected:link,#topmenu dt a.selected:visited{font-weight: bold; height:36px;color:#ffffff; background-image: url(../img/dhlBG02.gif); line-height: 40px;}
#topmenu dt a:link {text-decoration: none;background:url(../img/dhlGB01.gif) repeat-x;color:#ffffff; }
#topmenu dt a:visited {text-decoration: none;background:url(../img/dhlGB01.gif) repeat-x;color:#ffffff; }
#topmenu dt a:hover {text-decoration:none;background:url(../img/dhlBG02.gif) repeat-x;color:#ffffff; }

#sub1 li.notice{display:inline;width:800px;float:left; text-align:left;}

/* search
----------------------------------------*/
#search{height:40px;overflow:hidden; width:580px; }
.searchform{width:580px; height:40px;background:url(../img/searchbg.gif) no-repeat;}
#txtKey{border:0 none;color:#bababa;float:left;font-size:12px;height:26px; line-height:26px; overflow:hidden;padding-left:15px;width:270px;background-position:0 0;}
#btnSearch{border:0;display:inline;float:left;cursor:pointer; margin-top:8px;}
#fid_box{border:0px solid #e0e0e0; float:left; padding:10px 10px 0 12px; text-align:center;}
#fid{border:1px solid #fff; padding-top:3px; color:#666; height:23px;}

.hottag{width:430px; height:30px; line-height:30px; text-align:left;}
.hottag a{padding:0 5px;}

/* main
----------------------------------------*/
#main{margin-top:5px; overflow:hidden;}
.w700{width:700px;}
.w720{width:720px;}
.w300{width:300px;}
.w340{width:330px;}
.w355{width:355px;}
.w400{width:394px;}
.w410{width:420px!important; width:410px;}
.w450{width:450px;}
.w250{width:250px;}
.w96{width:96%; margin:0 auto;}
.w98{width:98%; margin:0 auto;}
.h400{height:400px;}
.pagination{height:30px; line-height:30px;; text-align:center; clear:both; margin-top:10px;}

.rb_top{height:6px;background-position:0 -35px;overflow:hidden;}
.rb_mid{border:solid 1px #e5e5e5;  height:100%; overflow:hidden; padding:5px;}
.rb_low{height:6px;background-position:0 -58px; overflow:hidden;}

.rb_mid .jdt{height:230px; margin:auto;}
.rb_mid .shrd{margin:5px auto;}
.shrd h2,.left_div h2{height:30px; line-height:30px; padding-left:15px; font-size:14px; background:url(../img/right_titlebg_1.gif) 300px 0; }
.shrd h2 a,.shrd h2 a:visited{background:url(../img/right_titlebg_1.jpg) 0 -100px; color:#990000; padding-left:15px;}

ul.list{padding:5px;}
ul.list li{height:24px; line-height:24px; overflow:hidden; position:relative;}
ul.list li.toptext{height:80px;line-height:1.5em; border-bottom:dashed 1px #e5e5e5; padding-bottom:10px; margin:5px;}
ul.list li.toptext h3 a{display:block; font-size:14px; height:28px; line-height:28px; text-align:center; overflow:hidden;}
ul.list li.toptext img{width:80px; height:60px; display:block; padding:2px; border:solid 1px #e8e8e8; float:left; margin-right:10px;}
ul.list li span a,ul.list li span a:visited{color:#f54100;font-size:12px;}

.rb_mid .w300{border-right:solid 1px #e5e5e5;}

ul.w410 li.toptext{height:75px; overflow:hidden; padding:6px;margin-bottom:5px;}
ul.w410 li.toptext a{display:block; height:30px; line-height:30px; overflow:hidden;}
ul.w410 li.toptext a h3{text-align:center; font-weight:bold; font-size:16px; color:#f54100;}
ul.w410 li.toptext p{margin-top:5px;}

ul.w450 li.toptext{height:75px; overflow:hidden; padding:6px;margin-bottom:5px;}
ul.w450 li.toptext a{display:block; height:30px; line-height:30px; overflow:hidden;}
ul.w450 li.toptext a h3{text-align:center; font-weight:bold; font-size:16px; color:#f54100;}
ul.w450 li.toptext p{margin-top:5px;}

ul.topnews li{height:24px; line-height:24px; overflow:hidden; position:relative; width:440px; margin:auto;}
ul.topnews li span a,ul.topnews li span a:visited{color:#f54100;}
ul.topnews li em{position:absolute; right:0; top:0; padding-left:6px;color:#999999; font-size:11px;}
.line{border-bottom:dotted 1px #d7d7d7; padding-bottom:6px;}
.line-right{border-right:dotted 1px #dddddd;}

/*灰色右则版块样式*/
.rb_right_top{height:34px; background:url(../img/right_titlebg_1.jpg);}
.rb_right_low{height:7px; overflow:hidden;}
.rb_right_div{border-left:solid 1px #d8d8d8; border-right:solid 1px #d8d8d8; border-bottom:solid 1px #d8d8d8;height:100%; overflow:hidden;}
.rb_right_top h2{height:34px; line-height:32px !important;line-height:34px;color:#ffffff;padding-left:15px;}
.rb_right_top h2 a,.rb_right_top h2 a:visited{background:url(../img/); color:#ffffff;padding-left:15px;}

/*蓝色右则版块样式*/
.blue_right_top{height:34px; background:url(../img/right_titlebg_1.jpg);}
.blue_right_low{height:7px; overflow:hidden;}
.blue_right_div{border-left:solid 1px #d8d8d8; border-right:solid 1px #d8d8d8; border-bottom:solid 1px #d8d8d8; height:100%; overflow:hidden;}
.blue_right_top h2{height:34px; line-height:34px; color:#ffffff;padding-left:15px;}
.blue_right_top h2 a,.blue_right_top h2 a:visited{background:url(../img/) 0 -100px; color:#ffffff;padding-left:15px;}

/*粉红色右则版块样式*/
.pink_right_top{background-position:-230px -80px; height:30px;}
.pink_right_low{background-position:-230px -119px; height:8px; overflow:hidden;}
.pink_right_div{ border-left:solid 1px #fdd79d; border-right:solid 1px #fdd79d; height:100%; overflow:hidden;}
.pink_right_top h2{height:30px; line-height:30px; color:#993300;padding-left:15px;}
.pink_right_top h2 a,.pink_right_top h2 a:visited{background:url(../img/right_titlebg_1.jpg) 0 -100px; color:#993300;padding-left:15px;}

/*精彩图文样式*/
ul.jctw{border:solid 1px #d8d8d8; height:100%; overflow:hidden;}
ul.jctw h2{height:29px; line-height:29px; padding-left:15px; font-size:14px; }
ul.jctw h2 a,ul.jctw h2 a:visited{background:url(../img/) 0 -100px; color:#ffffff; padding-left:15px;}
ul.jctw li{float:left; margin:10px 0 5px 14px !important; margin:10px 0 5px 10px;text-align:center;}
ul.jctw li img{display:block; width:151px !important; width:150px; height:98px; border:1px solid #ccc; padding:2px;}
ul.jctw li span{height:25px; line-height:25px;}

/*首页热门评论样式*/
dl.rmpl{width:94%; margin:0 auto; line-height:1.8em;}
dl.rmpl dt{margin:5px 0 5px;}
dl.rmpl dt span{color:#999;}
dl.rmpl dt a,dl.rmpl dt a:visited{color:#0066FF;font-size:12px;}
dl.rmpl dd.line{border-bottom:1px dashed #ccc;}

/*左侧圆角版块样式*/
.left_top{height:32px;}
.left_top1{height:32px;}
.left_low{ height:6px; overflow:hidden;}

.left_div{border:solid 1px #d8d8d8; zoom:1; overflow:hidden; width:353px;}
.left_div1{border:solid 1px #d8d8d8; zoom:1; overflow:hidden; width:718px;}
.left_top h2{height:32px; line-height:32px; padding-left:15px; font-size:14px;}
.left_top h2 a,ul.ysyl h2 a:visited{background:url(../img/) 0 -100px; color:#244f94; padding-left:12px;}
.left_top1 h2{height:32px; line-height:32px; padding-left:15px; font-size:14px;}
.left_top1 h2 a,ul.ysyl h2 a:visited{background:url(../img/) 0 -100px; color:#244f94; padding-left:12px;}

.left_top2{height:32px;}
.left_top2 h2{height:32px; line-height:32px; padding-left:15px; font-size:14px;}
.left_top2 h2 a,ul.ysyl h2 a:visited{background:url(../img/) 0 -100px; color:#244f94; padding-left:12px;}

/*右侧信息排行列表样式*/
ul.order{background:url(../img/num.gif) 8px 8px no-repeat; padding:3px 8px 0px 26px; overflow:hidden;}
ul.order li{height:24px; line-height:22px !important; line-height:24px;}

/*右侧专题列表样式*/
dl.list{height:86px;margin:6px 3px 3px 6px;overflow:hidden;}
dl.list dt{float:right;width:150px; line-height:25px; font-size:13px; font-weight:800; color:#06c;}
dl.list dt a,dl.list dt a:visited{color:#f54100;}
dl.list dd.pic{float:left;}
dl.list dd.pic img{width:75px;height:80px;border:1px solid #dddddd; padding:1px; background-color:#FFFFFF;}
dl.list dd.text{float:right; width:150px; line-height:20px;}

dl.zt{float:left; width:315px; margin:15px 10px 0 10px;}



dl.zt dt,dl.zt dd.text{width:215px;}

/*左侧头条图文列表样式*/
ul.list li.toptext2{height:86px; line-height:1.7em; border-bottom:dashed 1px #e5e5e5; padding-bottom:10px; margin-bottom:5px;}

ul.list dl.list{margin:3px;overflow:hidden;}
ul.list dl.list dt{float:right;width:200px;font-size:13px; font-weight:800; color:#06c;}
ul.list dl.list dt a,dl.list dt a:visited{color:#f54100;}
ul.list dl.list dd.pic{float:left;}
ul.list dl.list dd.pic img{width:110px;height:80px;border:1px solid #ddd; padding:2px;}
ul.list dl.list dd.text{float:right; width:200px; line-height:20px;}

ul.left_pic{height:100%; text-align:center; overflow:hidden;}
ul.left_pic li{width:156px; height:110px; float:left; margin:3px;}
ul.left_pic li img{display:block; width:140px; height:80px; margin-bottom:4px; border:1px solid #ccc; padding:1px;}

ul.right_pic{height:100%; text-align:center; overflow:hidden;}
ul.right_pic li{width:110px; height:110px; float:left; margin:3px;}
ul.right_pic li img{display:block; width:100px; height:80px; margin-bottom:4px; border:1px solid #ccc; padding:1px;}


ul.w340 li.toptext{height:75px; overflow:hidden; padding-bottom:6px;margin-bottom:5px;}
ul.w340 li.toptext a{display:block; height:30px; line-height:30px; overflow:hidden; text-decoration:none;}
ul.w340 li.toptext a h3{text-align:center; font-weight:bold; font-size:16px; color:#f54100; width:98%; background-color:#F7F7FF;}
ul.w340 li.toptext p{text-indent:2em; margin-top:5px;}

ul.w355 li.toptext{height:75px; overflow:hidden; padding-bottom:6px;margin-bottom:5px;}
ul.w355 li.toptext a{display:block; height:30px; line-height:30px; overflow:hidden; text-decoration:none;}
ul.w355 li.toptext a h3{text-align:center; font-weight:bold; font-size:16px; color:#f54100; width:330px; background-color:#;}
ul.w355 li.toptext p{text-indent:2em; margin-top:5px; width:330px;}



dl.hotlink{width:976px;line-height:35px;padding:2px;border:#d8d8d8 1px solid;margin:0 auto; overflow:hidden; margin-top:0px !important;margin-top:5px;}
dl.hotlink dt{width:65px;height:35px; padding-left:25px; float:left; font-weight:bold;}
dl.hotlink dd{margin:0 10px;float:left;}

.footer11{text-align:center; line-height:22px;border-top:#f2f2f2 3px solid;border-left:#d8d8d8 1px solid;border-right:#d8d8d8 1px solid;width:980px; margin:auto; padding-top:10px; padding-bottom:10px;border-bottom:#d8d8d8 1px solid;}
.footer11 a{margin:0 10px;}

/*栏目页样式*/
.position {height:30px; line-height:30px; background:url(../img/box_bg.png); border-bottom:1px dashed #EAEAEA; text-indent:10px;}
.position1 {height:30px; line-height:30px; background:url(../img/box_bg.png); border:1px solid #EAEAEA ;text-indent:10px;}

/*信息提示页样式*/
.prompt{width:500px; border:#ccc 1px solid; background:#F6F6F6; margin:100px auto; padding:5px;}
.prompt dl{background:#fff;border:#ccc 1px solid; margin:0; padding:0 10px 0; font:16px;}
.prompt dl dt{height:55px;line-height:55px;background:url(../img/prompt.jpg) 20px 10px no-repeat; border-bottom:1px solid #ccc;}
.prompt dl dd{line-height:30px;font-size:12px;}
.prompt dl dd a{color:#0033FF;}
.prompt dl dd.msg{height:40px;line-height:40px; font-size:18px; font-weight:bold;}


/*内容页样式*/
.w96 h1{min-height:60px; line-height:60px; color:#000; font-size:26px; text-align:center;}
.msgbar{height:30px; line-height:30px; text-align:center; border-bottom:#ccc 1px solid; color:#999;}
.summary{width:90%; line-height:1.8em; text-indent:20px; font-size:14px; border:#59ACFF 1px solid; background:#ECF5FF; margin:15px auto; padding:8px;}
.content{line-height:1.8em; font-size:14px; color:#000; margin-top:10px;min-height:400px;}
.pagebar{height:30px;line-height:30px; text-align:center;}
.tags{width:90%; line-height:1.8em; border:#FF6633 1px dashed; background:#FFFFCC; margin:15px auto; padding:8px;}
.tags a{margin:5px;}

.other{height:60px; text-align:center; border-top:#ccc 1px solid; padding-top:10px;}
.ding{width:52px; height:51px; background:url(../img/ding.gif) no-repeat center top; margin:5px; color:#217AB3; font-weight:bold; font-size:12px; line-height:23px; font-family: Georgia, "Times New Roman", Times, serif; cursor:pointer;}
.cai{width:52px; height:51px; background:url(../img/cai.gif) no-repeat center top; margin:5px; color:#f60; font-weight:bold; font-size:12px; line-height:23px; font-family: Georgia, "Times New Roman", Times, serif; cursor:pointer;}
.ding p,.cai p{display:block; font-weight:700;}
.other ul{float:left; margin-left:10px;}
.other ul li{height:26px; line-height:26px; text-align:left;}

.comment,.related{margin-top:5px;}
.comment h2,.related h2,.rb_right_div h2{height:33px;line-height:33px;padding-left:15px;font-size:12px;background:url(../img/bg1.jpg) repeat-x;border-top:#eee 1px solid;}
.comment h2 span,.related h2 span,.rb_right_div h2 span{background:url(../img/right_titlebg_1.jpg) 0 -100px; color:#990000; padding-left:15px;}
.comment h2 a{font-size:12px;}
.comment h2 em{color:#f54100;}
.cinput{width:390px; height:80px; border:1px solid #ccc;}
.yinput{width:500px; height:22px; border:1px solid #ccc;}

.rb_right_div div.w98{min-height:100px;}
.rb_right_div div.w98 dl.list dt{float:right;width:146px; line-height:25px; font-size:13px; font-weight:800; color:#06c;}
.rb_right_div div.w98 dl.list dd.text{float:right; width:146px; line-height:20px;}

/*搜索页样式*/
.search_msg{height:30px; line-height:30px; margin:10px 0 10px; border-bottom:#ccc 1px solid; font-weight:bold;}
dl.list3{border-bottom:1px dashed #ccc; line-height:1.8em; padding:10px 0 10px;}
dl.list3 dt{height:30px;}
dl.list3 dt span a,dl.list3 dt span a:visited{font-size:14px; color:#ff3300;}
dl.list3 dt a,dl.list3 dt a:visited{font-size:14px; color:#0033FF;}
dl.list3 dt a:hover{font-size:14px; color:#ff3300;}
dl.list3 dd{color:#000;}
dl.list3 dd.zy{height:50px; text-indent:20px; text-indent:20px; color:#999;}

/*标签页样式*/
.taglist ul{width:600px; margin:5px auto; list-style:circle;}
.taglist ul li{width:140px; height:30px; padding-left:5px; font-size:14px; float:left;}

/*下载页样式*/
ul.down_top{list-style:none;}
ul.down_top li{width:100px; text-align:center; float:left;}
ul.down_top li.name{width:365px;font-weight:bold;text-align:left;}
.img_border {border:1px solid #ccc; padding:2px;}
ul.blocklist li{height:25px; line-height:25px;}

/*留言板首页样式*/
.gb_logo{margin:10px 0 10px; padding-bottom:10px; border-bottom:#ccc 1px solid;}
dl.gb{border-bottom:1px dashed #ccc; line-height:1.8em;}
dl.gb dt{line-height:30px;font-size:12px;}
dl.gb dt span {color:#ff3300; margin-right:10px;}
dl.gb dd{text-indent:10px;}
dl.gb dd.relpy{margin-top:10px;color:#006600;}

/*登录首页样式*/
.loginBG{ background-image:url(../img/login.jpg); height:127px; width:250px;}

/*首页新闻样式*/
.xxbg{width:430px;height:270px; float:right; margin:0px; BORDER-right: #dedede 1px solid;BORDER-left: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid;}
.xxbox{width:430px; height:28px;}
.xxbox ul{ margin:auto;height:28px;}
.xxbox li{display:inline; cursor:pointer; width:89px;line-height:28px; text-align:center;float:left; BORDER-right: #dedede 1px solid;}
.curr{ background-image:url(../img/title003-01.gif);width:95px; height:28px;}
.normaltab{background-image:url(../img/title003-01-a.gif);width:95px; height:28px;}
.dis{display:block;padding-top:10px;}
.undis{display:none;padding-top:10px;}

